@import './../../../assets/styles/variables.scss';
@import './../../../assets/styles/mixins.scss';

.title {
    @include typography($main,28px,700);
    color: $color800;
    margin-bottom: 28px;
}

.signIn {
    margin: 0px auto;
    @include typography($main,16px,400);
    line-height: 39px;
    color:$color700;
}

.signIn_link {
    @include typography($main,16px,500);
    color:$OrangeIndicator;
}