@import './../../../../assets/styles/variables.scss';
@import './../../../../assets/styles/mixins.scss';

.container {
    position: relative;
    flex: 1;
    background-color: $color200;
    padding: 16px;
}

.floatButton {
    position: absolute;
    bottom: 12px;
    right: 16px;
}

.background {
    justify-content: center;
}

.image {
    border-radius: 24px;
}

.list {
    padding: 24px 16px;
}

.emptyColumn {
    margin: auto auto;
}

.arrow {
    position: relative;
    transform: rotate(10deg);
    bottom: -40px;
    left: 120px;
}