@import './../../assets/styles/variables.scss';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 95px;
}

.button_small {
    width: 34px;
    height: 34px;
}

.button_middle {
    width: 42px;
    height: 42px;
}

.button_big {
    width: 65px;
    height: 65px;
}

.button_dark {
    background-color: $color800;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

.button_dark_pressed {
    background-color: $color700;
}

.button_dark_disabled {
    background-color: $color500;
}

.button_light {
    background-color: $color300;
}

.button_light_pressed {
    background-color: $color500;
}

.button_light_disabled {
    background-color: $color300;
}

.button_lightest {
    background-color: $color100;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.04);
}

.button_lightest_pressed {
    background-color: $color500;
}

.button_lightest_disabled {
    background-color: $color300;
}