@import './../../assets/styles/variables.scss';
@import './../../assets/styles/mixins.scss';

.container {
    margin:12px 0;
}

.touchable_container {
    padding: 24px;
    margin: 0px;
    box-shadow: $Shadow1;
    border: 0;
    border-radius: 24px;
    background-color: $color100;
}

.container_pressed {
    background-color: $color300;
}

.title {
    @include typography($main, 20px, 600);
    line-height: 39px;
    color: $color800;
}

.title_disabled {
    color: $color400;
}