@import './../../assets/styles/variables.scss';
@import './../../assets/styles/mixins.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    margin: 0 24px;
}

.text {
    @include typography($main, 20px, 600);
    color: $color800;
    margin-top: 20px;
}

.button {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 40px;
    bottom: 0px;
}

.overlay {
    background-color: $color100;
}