@import './../../assets/styles/variables.scss';
@import './../../assets/styles/mixins.scss';

.inputContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.customInput {
    @include typography($main,16,400);
    width: 100%;
    color: $color600;
    padding: 0 0 12px 0;
    margin: 0;
    text-decoration: none;
    border-style: solid;
    border-bottom-color: $color600;
    border-bottom-width: 1px;
}

.customInput_active {
    color: $color800;
    border-bottom-color: $color800;
}

.customInput_disabled {
    color: $color500;
    border-bottom-color: $color500;
}

.customInput_correct {
    color: $Success;
    border-bottom-color: $Success;
}

.customInput_error {
    color: $Error;
    border-bottom-color: $Error;
}

.postfix {
    position: absolute;
    right: 0;
    top: 8px;
}