.emptyColumn {
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
}

.arrow {
    position: relative;
    transform: rotate(20deg);
    bottom: -60px;
    left: 60px;
}