@import './../../assets/styles/variables.scss';
@import './../../assets/styles/mixins.scss';

.button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    border: 0;
    border-radius: 18px;
}

.button_wrapper_primary_disabled {
    background-color: $color500;
}

.button_wrapper_secondary_disabled {
    background-color: $color300;
}

.button_wrapper_text_disabled {
    color: $color600
}

.button_wrapper_primary_press {
    background-color: $color700;
}

.button_wrapper_secondary_press {
    background-color: $color600;
}

.button_wrapper_primary {
    background-color: $color800;
    padding: 16px;
}

.button_wrapper_secondary {
    background-color: $color300;
    padding: 12px;
}

.button_wrapper_text {
    padding: 20px;
    background-color: transparent;
}

.button_text {
    @include typography($main,16px,500);
}

.button_text_primary {
    color: $color100;
}

.button_text_secondary {
    color: $color800;
}

.button_text_text {
    color: $OrangeIndicator;
}

.button_text_text_press {
    color: $Error;
}

.button_text_text_disabled {
    color: $color600;
}