@import './../../assets/styles/variables.scss';
@import './../../assets/styles/mixins.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-color: $color600;
    border-bottom-width: 1px;
}

.inputContainer_disabled {
    border-bottom-color: $color500;
}

.inputContainer_correct {
    border-bottom-color: $Success;
}

.inputContainer_error {
    border-bottom-color: $Error;
}

.customInput {
    @include typography($main, 22px, 400);
    color: $color600;
    max-width: 100%;
    border-style: solid;
    padding: 0 0 12px 0;
    margin: 0;
    text-decoration: none;
}

.customInput_active {
    color: $color800;
    border-bottom-color: $color800;
}

.customInput_disabled {
    color: $color500;
}

.customInput_correct {
    color: $Success;
}

.customInput_error {
    color: $Error;
}

.placeholder {
    color: $color600;
}