@import './../../assets/styles/variables.scss';

.container {
    padding: 36px 24px;
    background-color: $color100;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.04);
    border-radius: 24px 24px 0px 0px;
    margin-top: auto;
}