@import './../../assets/styles/variables.scss';
@import './../../assets/styles/mixins.scss';

.container {
    flex: 1;
    background-color: $color100;
}

.background {
    display:flex;
    justify-content: flex-end;
    flex: 1;
    position: relative;
}

.formContainer {
    background-color: $color100;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.04);
    border-radius: 24px 24px 0px 0px;
    padding: 36px 24px;
}