@import './../../assets/styles/variables.scss';

.container {
    position: relative;
}

.hideIcon {
    display:none;
}

.showIcon {
    position: absolute;
    right:0;
}

.commentInput {
    min-height: 56px;
    padding: 17px 22px;
    background-color: $color300;
    border-bottom-width: 0px;
    border-radius: 16px;
}

.commentInput_disabled {
    color: $color400;
    background-color: $color200;
}