@import './../../assets/styles/variables.scss';
@import './../../assets/styles/mixins.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 28px;
}

.label {
    @include typography($main,16px,600);
    color: $color700;
    margin-bottom: 4px;
}

.error {
    margin-top: 6px;
    color: $Error;
}