@import './../../assets/styles/variables.scss';

.container {
    width: 100%,
}

.iconContainer {
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: $Error;
    border-radius: 24px;
}
