// colors

$color800: #2A2A2A;
$color700: #696969;
$color600: #CFCFCF;
$color500: #EBEBEB;
$color400: #F2F2F2;
$color300: #F5F5F5;
$color200: #FBFBFB;
$color100: #FFFFFF;
$Error: #C2534C;
$Success: #39C622;
$OrangeIndicator: #DE6352;
$BlueIndicator: #4757B0;
$YellowIndicator: #E8CC3E;

// Effects

$Shadow1: 0px 0px 60px rgba(0,0,0, 0.04);

$Shadow1: 0px 0px 50px rgba(0,0,0, 0.1);

//fonts

$main: 'Outfit';
$subMain: 'Inter';