@import './../../assets/styles/variables.scss';
@import './../../assets/styles/mixins.scss';

.container {
    flex: 1;
    background-color: $color100;
}

.scrollViewContent {
    flex: 1;
    justify-content: flex-end;
}

.background {
    flex: 1;
    justify-content: center;
}

.formContainer {
    background-color: $color100;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.04);
    border-radius: 24px 24px 0px 0px;
    padding: 36px 24px;
}

.title {
    @include typography($main,28px,700);
    color: $color800;
    margin-bottom: 28px;
}

.signIn {
    margin: 0px auto;
    @include typography($main,16px,400);
    line-height: 39px;
    color:$color700;
    .signIn_link {
        @include typography($main,16px,500);
        color:$OrangeIndicator;
    }
}